@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,500;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  background-color: #f3f3f3; }

/*header*/
@font-face {
  font-family: hemi;
  src: url(../fonts/hemi.otf); }

header {
  min-height: 6rem; }

li {
  list-style: none; }

.barraNavegacion a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem; }

header {
  position: relative;
  padding: 0 2rem; }

.barraNavegacion {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between; }

.barraNavegacion .logo {
  display: flex;
  align-items: center; }

.barraNavegacion .logo img {
  margin-top: 1rem;
  margin-right: 0px;
  margin-left: 0px;
  width: 80px; }

.barraNavegacion .logo a {
  margin-top: 1rem;
  font-family: hemi;
  font-size: 1.5rem;
  font-weight: bold; }

.barraNavegacion .logo a:hover {
  color: orange; }

.barraNavegacion .links {
  margin-top: 20px;
  display: flex;
  gap: 2rem; }

.barraNavegacion .links a:hover {
  color: orange; }

.barraNavegacion .toggle_btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none; }

.action_btn {
  background-color: orange;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease; }

.action_btn:hover {
  scale: 1.05;
  color: white; }

.action_btn:active {
  scale: 0.95; }

/*dropdown menu*/
.dropdown_menu {
  margin-top: 3.8vh;
  z-index: 9999;
  display: none;
  position: absolute;
  height: 0px;
  width: 350px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.dropdown_menu.open {
  height: 240px; }

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center; }

.dropdown_menu li a {
  text-decoration: none;
  color: black;
  font-size: 1rem; }

.dropdown_menu li :hover {
  color: orange; }

.dropdown_menu .action_btn:hover {
  scale: 1.05;
  color: white; }

@font-face {
  font-family: hemi;
  src: url(../fonts/hemi.otf); }

/*inicio*/
/*main-index*/
/*hero-section*/
.heroSection {
  display: flex;
  justify-content: center; }

.carousel-inner {
  width: 1200px;
  border-radius: 25px; }

.carousel.slide {
  max-width: 1200px; }

/*segundoHero*/
.segundoHero h5 {
  font-family: 'Anton', sans-serif;
  font-size: 60px; }

.segundoHero p {
  font-size: 100%; }

.nuestrosServicios {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.parentCenter {
  display: flex;
  justify-content: center; }

.parent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  .parent img {
    border-radius: 20px;
    width: 80%; }

.div1 {
  height: auto;
  width: 500px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 2; }

.div2 {
  height: auto;
  width: 500px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-area: 1 / 2 / 2 / 3; }

.div3 {
  height: auto;
  width: 500px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-area: 2 / 1 / 3 / 2; }

.div4 {
  height: auto;
  width: 500px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 2 / 2 / 3 / 3; }

.parentCenter2 {
  display: flex;
  justify-content: center; }

.parent2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: px;
  grid-row-gap: px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center; }
  .parent2 img {
    width: 70%;
    border-radius: 30px; }

.div5 {
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  grid-area: 1 / 1 / 2 / 2; }

.div6 {
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  grid-area: 1 / 2 / 2 / 3; }

.div7 {
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  grid-area: 1 / 3 / 2 / 4; }

.mainNosotros {
  display: flex;
  flex-direction: column;
  align-items: center; }

.heroNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 95%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/heroNosotros.jpg);
  margin-bottom: 50px; }
  .heroNosotros h1 {
    border-radius: 15px;
    text-align: center;
    color: #ffffff;
    font-size: 4vw;
    font-family: hemi;
    margin-bottom: 10px;
    padding: 5%; }

.infoNosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .infoNosotros .contenidoInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 50px; }
  .infoNosotros .info {
    display: flex;
    flex-direction: column; }
    .infoNosotros .info .info1 {
      margin: 30px;
      flex-wrap: wrap;
      text-align: right;
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .infoNosotros .info .info2 {
      margin: 30px;
      flex-wrap: wrap;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center; }
    .infoNosotros .info .info3 {
      margin: 30px;
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      justify-content: center; }
  .infoNosotros img {
    border-radius: 25px;
    width: 500px;
    margin: 20px; }
  .infoNosotros p {
    text-align: center; }
  .infoNosotros .infoCliente {
    font-size: 15px;
    width: 400px;
    margin-bottom: 30px; }

.mainPrecios {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  margin-top: 0px; }

#heroPrecios {
  border-radius: 30px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.heroPrecios {
  border-radius: 30px;
  width: 100%;
  backdrop-filter: blur(5px); }
  .heroPrecios i {
    font-size: 20px;
    margin-top: 20px;
    color: #ff7700; }
  .heroPrecios i:hover {
    color: #036bd3; }
  .heroPrecios .titulo {
    display: flex;
    align-items: center;
    background-image: url(../img/fondoprecios.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    min-height: 250px; }
  .heroPrecios h1 {
    text-align: left;
    color: white;
    font-size: 5vw;
    font-family: 'Anton', sans-serif;
    padding: 5%; }

/*INICIO TARJETA DE PRECIOS*/
.tarjetasDePrecios {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  height: auto; }

.tarjetaPrecios {
  color: white;
  border-radius: 25px;
  width: 265px;
  height: 155px;
  margin: 10px;
  padding: 20px;
  display: block;
  overflow: hidden;
  transition: height 0.8s ease-out; }
  .tarjetaPrecios span {
    font-size: 15px;
    margin-bottom: 0px; }
  .tarjetaPrecios i {
    margin-top: 0px; }

.tarjeta1 {
  background-color: #ff9f4b; }

.tarjeta2 {
  background-color: #5a5aff; }

.tarjeta3 {
  background-color: #acacac; }

.tarjeta4 {
  background-color: #272727; }

.tarjetaPrecios.tarjeta1.open {
  display: block;
  height: 580px;
  position: relative; }

.tarjetaPrecios.tarjeta2.open {
  display: block;
  height: 450px;
  position: relative; }

.tarjetaPrecios.tarjeta3.open {
  display: block;
  height: 840px;
  position: relative; }

.tarjetaPrecios.tarjeta4.open {
  display: block;
  height: 580px;
  position: relative; }

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  color: white; }

.menu a:hover {
  color: #0062ff; }

.tarjetaPrecios ol {
  padding: 0px; }

.tarjetaPrecios li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center; }

/*FIN TARJETAS DE PRECIOS*/
/*PREGUNTAS FRECUENTES*/
#preguntasFrecuentes {
  margin-top: 40px; }
  #preguntasFrecuentes h2 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px; }

.faq-container {
  font-family: 'Poppins', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px; }

.faq-btn {
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px; }

.faq-btn:focus {
  outline: none; }

.faq-btn.active {
  background-color: #ddd; }

.faq-content {
  display: none;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px; }

.faq-content.active {
  display: block; }

.aclaracion {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; }
  .aclaracion p {
    text-align: justify;
    hyphens: auto;
    margin-bottom: 40px;
    font-size: 2.5vh;
    color: #000000; }
  .aclaracion h3 {
    font-size: 40px;
    margin-bottom: 10px;
    color: black; }
  .aclaracion img {
    margin-bottom: 20px;
    height: 100px; }
  .aclaracion a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 22px; }
  .aclaracion .action_btn {
    width: 150px;
    height: 60px; }

/*---------------PAGINA----COTIZACION----------------------*/
.mainCotizador {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .mainCotizador .titulo {
    margin: 10px;
    background-image: url(../img/fondocotizacion.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    min-height: 250px; }

.cotizador {
  max-width: 1200px;
  margin-top: 0px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .cotizador h1 {
    padding: 5%;
    font-size: 5vw;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: white; }
  .cotizador p {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif; }

/*precios-mapa*/
.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .container-fluid #output {
    color: white;
    font-size: 3vw; }

.form-horizontal {
  margin: 25px; }

#from {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 250px;
  height: 30px;
  margin-bottom: 10px; }

#to {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 250px;
  height: 30px; }

/*Jumbotron*/
.jumbotron h1 {
  color: #000000;
  letter-spacing: 2.5px;
  font-size: 3.5em; }

.jumbotron h1,
.jumbotron p {
  color: #000000;
  text-align: center; }

/*map*/
.boton {
  display: flex;
  justify-content: center; }
  .boton button {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 80px;
    height: 40px;
    border-radius: 20%;
    background-color: #000b5ca5;
    border-color: #cacaca00; }

#googleMap {
  border-radius: 25px;
  width: 100%;
  height: 400px;
  margin: 10px auto; }

/*output box*/
#output {
  text-align: center;
  font-size: 2em;
  margin: 20px auto; }

#mode {
  color: black; }

/*SECCION COTIZADOR POR ZONAS*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 0px;
  grid-template-areas: ". . . ."; }

/*SECCION COTIZADOR POR ZONAS*/
.zonas {
  margin-top: 80px; }
  .zonas button {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 80px;
    height: 40px;
    border-radius: 20%;
    background-color: #000b5ca5;
    border-color: #cacaca00; }
  .zonas .agregar {
    background-color: orange; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 0px;
  grid-template-areas: ". . . ."; }

/*ZONAS*/
/*TARJETAS*/
.zonas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
  flex-wrap: wrap;
  width: auto; }

h3 {
  color: white; }

.botones {
  display: flex;
  flex-direction: row;
  margin: 230px; }

.botones button {
  margin: 10px; }

.card {
  color: white;
  margin: 5px;
  border-radius: 25px;
  width: 250px;
  height: 400px;
  padding: 20px;
  position: relative;
  border-color: white;
  background-color: #bcbcbc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center; }

.card:hover {
  background-color: #536f8c;
  width: 270px;
  height: 410px;
  transition: ease 0.5s; }

.card0 {
  background-image: url(../img/lomasdezamora.png); }

.card1 {
  background-image: url(../img/zona1.png); }

.card2 {
  background-image: url(../img/zona2.png); }

.card3 {
  background-image: url(../img/zona3.png); }

.divCarrito {
  display: flex;
  justify-content: center;
  align-items: center; }

.carrito {
  text-align: center;
  background-color: #0033666d;
  border-radius: 10px;
  color: white;
  height: auto; }
  .carrito .solicitar {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 80px;
    height: 40px;
    border-radius: 20%;
    background-color: orange;
    border-color: #cacaca00;
    width: 180px;
    margin: 10px; }
  .carrito .reiniciar {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 80px;
    height: 40px;
    border-radius: 20%;
    background-color: #000b5ca5;
    border-color: #cacaca00;
    width: 180px;
    margin: 10px; }
  .carrito .total {
    font-size: 30px; }

.estadoClima {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black; }

footer {
  background-color: black;
  height: 200px; }
  footer img {
    margin-top: 20px;
    height: 100px; }

footer {
  margin-top: 20px; }
  footer .pie {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row; }
  footer nav {
    display: flex;
    flex-direction: row;
    align-items: center; }
    footer nav ul {
      text-align: center;
      display: flex;
      flex-direction: column; }
      footer nav ul a {
        color: white;
        list-style: none;
        text-decoration: none;
        margin: 10px; }

.info {
  margin-top: 20px;
  color: #d8d8d8; }

/*responsive carrusel*/
@media (max-width: 700px) {
  .carousel-inner {
    border-radius: 25px;
    width: 350px; } }

@media (max-width: 700px) {
  .segundoHero h5 {
    font-family: 'Anton', sans-serif;
    font-size: 40px; }
  .parent {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; }
  .div1 {
    height: auto;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    grid-area: 1 / 1 / 2 / 2; }
  .div2 {
    height: auto;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    grid-area: 2 / 1 / 3 / 2; }
  .div3 {
    height: auto;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    grid-area: 4 / 1 / 5 / 2; }
  .div4 {
    height: auto;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    grid-area: 3 / 1 / 4 / 2; }
  .nuestrosServicios {
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px; }
  .parent2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center; }
  .div5 {
    grid-area: 1 / 1 / 2 / 2; }
  .div6 {
    grid-area: 2 / 1 / 3 / 2; }
  .div7 {
    grid-area: 3 / 1 / 4 / 2; } }

@media (max-width: 500px) {
  .heroPrecios h1 {
    font-size: 10vw; } }

@media (max-width: 700px) {
  .tarjetaPrecios {
    margin: 0px;
    margin-bottom: 20px; } }

@media (max-width: 700px) {
  footer {
    height: auto; }
    footer .pie {
      flex-direction: column; }
      footer .pie nav {
        margin-top: 30px; } }

/*reponsive header*/
@media (max-width: 992px) {
  .barraNavegacion .links,
  .barraNavegacion .action_btn {
    display: none; }
  .barraNavegacion .toggle_btn {
    margin: 5px;
    display: block; }
  .dropdown_menu {
    display: block; } }

@media (max-width: 400px) {
  .barraNavegacion .logo a {
    font-size: 1rem; } }

@media (max-width: 500px) {
  .infoNosotros .info {
    width: 400px; }
    .infoNosotros .info .contenidoInfo {
      margin: 10px; }
      .infoNosotros .info .contenidoInfo h4 {
        font-size: 20px; }
      .infoNosotros .info .contenidoInfo p {
        font-size: 10px; }
    .infoNosotros .info img {
      width: 280px; }
  .infoNosotros .infoCliente {
    width: 360px;
    font-size: 10px; } }

@media (max-width: 500px) {
  .mainCotizador h1 {
    font-size: 9vw; } }
