@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,500;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

section {
  background-color: #f1f1f1; }

/*inicio*/
/*main-index*/
/*hero-section*/
/*segundoHero*/
.segundoHero {
  text-align: center; }
  .segundoHero h5 {
    font-family: 'Anton', sans-serif;
    font-size: 60px; }
  .segundoHero p {
    font-size: 20px; }

.nuestrosServicios {
  margin-top: 0;
  padding: 80px;
  padding-right: 200px;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

/*main-flex*/
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  .parent img {
    border-radius: 20px;
    width: 80%; }

.div1 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 2; }

.div2 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-area: 1 / 2 / 2 / 3; }

.div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-area: 2 / 1 / 3 / 2; }

.div4 {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 2 / 2 / 3 / 3; }

.parent2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: px;
  grid-row-gap: px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center; }
  .parent2 img {
    padding: 20px;
    width: 80%;
    border-radius: 30px; }

.div5 {
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  grid-area: 1 / 1 / 2 / 2; }

.div6 {
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  grid-area: 1 / 2 / 2 / 3; }

.div7 {
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  grid-area: 1 / 3 / 2 / 4; }

/*precios-mapa*/
.fa-map-marker-alt,
.fa-dot-circle {
  color: #000000; }

/*Jumbotron*/
.jumbotron {
  margin: 0;
  padding: 30px; }

.jumbotron h1 {
  letter-spacing: 2.5px;
  font-size: 3.5em; }

.jumbotron h1,
.jumbotron p {
  text-align: center; }

/*precios*/
.titulo {
  margin-top: 80px;
  margin-bottom: 100px; }

.precioUno {
  font-size: 30px; }

.heroPrecios {
  background-image: url("../Img/ciudad.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  height: auto; }
  .heroPrecios h1 {
    text-align: center;
    color: #e4e4e4;
    font-size: 60px;
    font-family: 'Anton', sans-serif; }

.precios {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .precios div {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    font-family: 'Poiret One', 200;
    color: white; }

.titulo {
  display: flex;
  align-items: center;
  justify-content: center; }

.precioCaba {
  background-color: #0066c5bb; }

.precioLomas {
  background-color: #135802bb; }
  .precioLomas h1 {
    font-size: 30px; }

.aclaracion {
  margin-top: 10px;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif; }
  .aclaracion p {
    text-align: left;
    margin-bottom: 70px;
    font-size: 20px;
    color: #d8d8d8; }
  .aclaracion h3 {
    font-size: 30px;
    margin-bottom: 50px;
    color: white; }
  .aclaracion img {
    height: 250px; }

/*map*/
.boton {
  display: flex;
  justify-content: center; }
  .boton button {
    background-color: #e4e4e449;
    width: 280px;
    height: auto;
    border-radius: 40px;
    font-family: 'Poiret One', 200; }

#googleMap {
  width: 100%;
  height: 400px;
  margin: 10px auto; }

/*output box*/
#output {
  text-align: center;
  font-size: 2em;
  margin: 20px auto; }

#mode {
  color: #eeeeee; }

/*SECCION COTIZADOR POR ZONAS*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 0px;
  grid-template-areas: ". . . ."; }

/*TARJETAS*/
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.producto {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ccc;
  padding: 10px;
  margin-bottom: 20px;
  width: calc(25% - 10px); }

.producto h2 {
  margin-top: 0; }

.producto .precio {
  font-weight: bold;
  margin-bottom: 0; }

.producto button {
  display: block;
  margin-top: 10px; }

.carrito {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ccc;
  padding: 10px;
  margin-top: 20px; }

.carrito h2 {
  margin-top: 0; }

.carrito ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.carrito li {
  margin-bottom: 10px; }

.carrito li span {
  font-weight: bold; }

.carrito .total {
  font-weight: bold; }

footer {
  background-color: black;
  height: 200px; }
  footer img {
    height: 100px; }

footer .pie {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  flex-direction: row; }

footer nav {
  display: flex;
  flex-direction: row;
  align-items: center; }
  footer nav ul {
    display: flex;
    flex-direction: column; }
    footer nav ul a {
      color: white;
      list-style: none;
      text-decoration: none;
      margin: 10px; }

.info {
  margin-top: 20px;
  color: #d8d8d8; }

@media (max-width: 700px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; }
  .div1 {
    margin-top: 0px;
    grid-area: 1 / 1 / 2 / 2; }
  .div2 {
    margin-top: 0px;
    grid-area: 2 / 1 / 3 / 2; }
  .div3 {
    margin-top: 0px;
    margin-bottom: 50px;
    grid-area: 4 / 1 / 5 / 2; }
  .div4 {
    grid-area: 3 / 1 / 4 / 2; }
  .nuestrosServicios {
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px; }
  .parent2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center; }
  .div5 {
    grid-area: 1 / 1 / 2 / 2; }
  .div6 {
    grid-area: 2 / 1 / 3 / 2; }
  .div7 {
    grid-area: 3 / 1 / 4 / 2; } }

@media (max-width: 700px) {
  .precios {
    flex-direction: column;
    align-items: center; }
    .precios .precioLomas {
      margin-top: 80px; } }

@media (max-width: 700px) {
  footer {
    height: auto; }
    footer .pie {
      flex-direction: column; }
      footer .pie nav {
        margin-top: 30px; } }
