@import "../base/variables";

/*inicio*/

/*main-index*/

/*hero-section*/

.heroSection{
    display: flex;
    justify-content: center;
}
.carousel-inner{
    width: 1200px;
    border-radius: 25px;    
}
.carousel.slide {
    max-width: 1200px;
}

/*segundoHero*/

.segundoHero {    

    h5 {
        font-family: 'Anton', sans-serif;
        font-size: 60px;
    }

    p {
        font-size: 100%;
    }
}

.nuestrosServicios {
    margin-left: 50px;
    margin-right: 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*main-index*/

.parentCenter{
    display: flex;
    justify-content: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    img {
        border-radius: 20px;
        width: 80%;
    }
}

.div1 {
    height: auto;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    height: auto;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    height: auto;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    height: auto;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 2 / 2 / 3 / 3;
}

.parentCenter2{
    display: flex;
    justify-content: center;
}

.parent2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px;
    grid-row-gap: px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    img {
        width: 70%;
        border-radius: 30px;
    }
}

.div5 {
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    grid-area: 1 / 1 / 2 / 2;
}

.div6 {
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
}

.div7 {
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    grid-area: 1 / 3 / 2 / 4;
}

/*----main---precios--*/

.mainPrecios{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}



.heroPrecios {
    padding: 30px;
    border-radius: 30px;
    background-image: url("../Img/fondoprecios.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;

    i{  
        font-size: 20px;
        margin-top: 20px;             
        color: orange;
    }
    i:hover{
        color: #036bd3;
    }
    
    
    h1 {
        text-align: center;
        color: #5c5c5ca9;
        font-size: 30px;
        font-family: 'Anton', sans-serif;
        margin-bottom: 50px;
    }
}

/*INICIO TARJETA DE PRECIOS*/

.precios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*TARJETAS DE PRECIOS*/

.tarjetaPrecio {
    backdrop-filter: blur(10px);
    color: white;
    margin: 5px;
    border-radius: 25px;
    width: 250px;
    height: 130px;
    background-color: #ff8913aa;
    padding: 20px;
    position: relative;
    transition: all 0.5s ease-in-out;
    i{
        margin-top: 30px;
    }
}

.tarjetaPrecio:hover {
    width: 250px;
    height: 560px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.tarjetaPrecio .title h2{
    margin-bottom: 15px;
    font-size: 25px;
    text-align: center;
}

.title h2 {
    margin-bottom: 15px;
    color: white;
    font-size: 2rem;
}

.list {
    width: 0px;
    height: 0px;
    margin: 20px 0 0 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.tarjetaPrecio:hover .list {
    width: auto;
    height: auto;
    visibility: visible;
    opacity: 1;
}

.list li {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
}

.list li:before {
    content: "• ";
    color: #ffa200;
}

/*tarjeta zona 1*/

.tarjetaPrecio1 {
    backdrop-filter: blur(10px);
    color: white;
    margin: 5px;
    border-radius: 25px;
    width: 250px;
    height: 130px;
    background-color: #0048ff56;    
    padding: 20px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.tarjetaPrecio1:hover {
    width: 250px;
    height: 430px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.tarjetaPrecio1:hover .list {
    width: auto;
    height: auto;
    visibility: visible;
    opacity: 1;
}

/*tarjeta zona 2*/

.tarjetaPrecio2 {
    backdrop-filter: blur(10px);
    color: white;
    margin: 5px;
    border-radius: 25px;
    width: 250px;
    height: 130px;
    background-color: #afafaf81;
    padding: 20px;
    position: relative;
    transition: all 0.5s ease-in-out;
    p{
        margin-top: 20px;
    }
}

.tarjetaPrecio2:hover {
    width: 250px;
    height: 740px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.tarjetaPrecio2:hover .list {
    width: auto;
    height: auto;
    visibility: visible;
    opacity: 1;
}

/*tarjeta zona 3*/

.tarjetaPrecio3 {
    backdrop-filter: blur(10px);
    margin: 5px;
    border-radius: 25px;
    width: 250px;
    height: 130px;
    background-color: #0000006a;
    padding: 20px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.tarjetaPrecio3:hover {
    margin-bottom: 50px;
    width: 250px;
    height: 530px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.tarjetaPrecio3:hover .list {
    color: white;
    width: auto;
    height: auto;
    visibility: visible;
    opacity: 1;
}

/*FIN TARJETAS DE PRECIOS*/

.aclaracion {
    p {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
        margin-bottom: 70px;
        font-size: 20px;
        color: #5c5c5c;        
    }

    h3 {
        font-size: 30px;
        margin-bottom: 50px;
        color: white;
    }

    margin-top: 50px;
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins',
    sans-serif;

    img {
        margin-bottom: 20px;
        height: 100px;
    }

}

/*---------------PAGINA----COTIZACION----------------------*/

.mainCotizador{
    background-image: url(../Img/fondocotizacion.png);
    padding: 30px;
    border-radius: 30px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

/*precios-mapa*/

.fa-map-marker-alt,
.fa-dot-circle {
    color: #000000;
}

/*Jumbotron*/
.jumbotron {
    margin: 0;
    padding: 30px;
}

.jumbotron h1 {
    letter-spacing: 2.5px;
    font-size: 3.5em;
}

.jumbotron h1,
.jumbotron p {
    text-align: center;
}

/*map*/


.boton {
    display: flex;
    justify-content: center;

    button {
        background-color: #e4e4e449;
        width: 280px;
        height: auto;
        border-radius: 40px;
        font-family: 'Poiret One', 200;
    }
}

#googleMap {
    width: 100%;
    height: 400px;
    margin: 10px auto;
}

/*output box*/
#output {
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}

#mode {
    color: rgb(238, 238, 238);
}

/*SECCION COTIZADOR POR ZONAS*/

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 0px;
    grid-template-areas:
        ". . . .";
}

/*SECCION COTIZADOR POR ZONAS*/
.zonas{
    margin-top: 80px;    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 0px;
    grid-template-areas: ". . . .";
}

/*ZONAS*/

/*TARJETAS*/

.zonas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    flex-wrap: wrap;
    width: auto;
}

h3 {
    color: white;
}

.botones {
    display: flex;
    flex-direction: row;
    margin: 300px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 3s ease;
}

.botones button {
    margin: 10px;
}

.card {
    backdrop-filter: blur(8px);
    color: white;
    margin: 5px;
    border-radius: 25px;
    width: 250px;
    height: 390px;    
    padding: 20px;
    position: relative;    
    background-color: #0033667d;    
    background-position: center;
    background-repeat:no-repeat;
    background-size:contain;  
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.card:hover {
    background-color: #005fbe7d;
    background-position: center;
    background-repeat: no-repeat;    
    height: 420px;
    transition: ease 1s;
    }

.card:hover .botones {
    visibility: visible;
    opacity: 1;
}

.card:hover .botones button {
    transition: all 2s ease;
}

.card0 {
    background-image: url(../img/lomasdezamora.png);
}

.card1 {
    background-image: url(../img/zona1.png);
}

.card2 {
    background-image: url(../img/zona2.png);
}

.card3 {
    background-image: url(../img/zona3.png);
}

.divCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito{
    text-align: center;
    background-color: #003366;
    border-radius: 10px;
    color: white;
    width: 300px;
    height: 150px;
    .total{
        font-size: 30px;
    }
}