@import "../base/variables";
@font-face {
    font-family: hemi;
    src: url(../fonts/hemi.otf);
}

/*inicio*/

/*main-index*/

/*hero-section*/

.heroSection {    
    display: flex;
    justify-content: center;
}

.carousel-inner {
    width: 1200px;
    border-radius: 25px;
}

.carousel.slide {
    max-width: 1200px;
}

/*segundoHero*/

.segundoHero {

    h5 {
        font-family: 'Anton', sans-serif;
        font-size: 60px;
    }

    p {
        font-size: 100%;
    }
}

.nuestrosServicios {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*main-index*/

.parentCenter {
    display: flex;
    justify-content: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    img {
        border-radius: 20px;
        width: 80%;
    }
}

.div1 {
    height: auto;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    height: auto;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    height: auto;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    height: auto;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 2 / 2 / 3 / 3;
}

.parentCenter2 {
    display: flex;
    justify-content: center;
}

.parent2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px;
    grid-row-gap: px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    img {
        width: 70%;
        border-radius: 30px;
    }
}

.div5 {
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    grid-area: 1 / 1 / 2 / 2;
}

.div6 {
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
}

.div7 {
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    grid-area: 1 / 3 / 2 / 4;
}

/*----main---precios--*/

.mainPrecios { 
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .titulo{       
        
    }

    .titulo img{
        width: 100%;
        position: relative;
        left: 190px;
        top: 80px;        
    }
}
.heroPrecios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    border-radius: 30px;
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1638%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1639)'%3e%3c/rect%3e%3cpath d='M1440 0L1187.97 0L1440 168.9z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1187.97 0L1440 168.9L1440 215.71L765.25 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M765.25 0L1440 215.71L1440 227.73000000000002L316.87 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M316.8699999999999 0L1440 227.73000000000002L1440 394.12L113.28999999999988 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L221.21 560L0 386.3z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 386.3L221.21 560L224.28 560L0 295.55z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 295.55L224.28 560L785.42 560L0 264.1z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 264.1L785.42 560L1060.71 560L0 188.86z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1638'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1639'%3e%3cstop stop-color='rgba(0%2c 60%2c 121%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

    i {
        font-size: 20px;
        margin-top: 20px;
        color: orange;
    }

    i:hover {
        color: #036bd3;
    }


    h1{
        position: relative;
        right: 122px;
        top: -527px;
        z-index: 9990;
        text-align: left;
        color: #485a7cdb;
        font-size: 8rem;
        font-family: 'Anton', sans-serif;
        margin-bottom: 10px;
        padding: 10%;     
    }
}

/*INICIO TARJETA DE PRECIOS*/


.tarjetasDePrecios {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    height: auto;    
}

.tarjetaPrecios {
    margin: 10px;
    color: white;
    border-radius: 25px;
    width: 265px;
    height: 155px;
    padding: 20px;
    display: block;
    position: unset;
    overflow: hidden;
    transition: height 0.8s ease-out;
    span{
        font-size: 15px;
        margin-bottom: 0px;
    }
    i{
        margin-top: 0px;
    }
}

.tarjeta1 {
    background-color: rgba(255, 119, 0, 0.476);
    backdrop-filter: blur(10px);
}

.tarjeta2 {
    background-color: rgba(0, 0, 255, 0.319);
    backdrop-filter: blur(10px);
}

.tarjeta3 {
    background-color: rgba(173, 173, 173, 0.794);
    backdrop-filter: blur(10px);
}

.tarjeta4 {
    background-color: rgba(39, 39, 39, 0.319);
    backdrop-filter: blur(10px);
}


.tarjetaPrecios.tarjeta1.open {
    display: block;
    height: 580px;
    position: relative;
}

.tarjetaPrecios.tarjeta2.open {
    display: block;
    height: 450px;
    position: relative;
}

.tarjetaPrecios.tarjeta3.open {
    display: block;
    height: 840px;
    position: relative;
}

.tarjetaPrecios.tarjeta4.open {
    display: block;
    height: 580px;
    position: relative;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    color: white;
}

.menu a:hover {
    color: rgb(0, 98, 255);
}

.tarjetaPrecios ol {
    padding: 0px;
}

.tarjetaPrecios li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*FIN TARJETAS DE PRECIOS*/

/*PREGUNTAS FRECUENTES*/

#preguntasFrecuentes{
    margin-top: 40px;
    h2{
        font-family: 'Anton', sans-serif;
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
    }
}

.faq-container {
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.faq-btn {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}
.faq-btn:focus {
    outline: none;
}
.faq-btn.active {
    background-color: #ddd;
}
.faq-content {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
}
.faq-content.active {
    display: block;
}

//ACLARACION//

.aclaracion {    
    margin-top: 50px;
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    font-family: 'Poiret One', cursive;    
    p {  
        text-align: left;        
        margin-bottom: 40px;
        font-size: 30px;
        color: #ffffff;
    }
    h3 {
        font-size: 40px;
        margin-bottom: 10px;
        color: white;
    }
    img {
        margin-bottom: 20px;
        height: 100px;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 22px;
    }
    .action_btn{
        width: 150px;
        height: 60px;        
    }
}

/*---------------PAGINA----COTIZACION----------------------*/

.mainCotizador {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1638%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1639)'%3e%3c/rect%3e%3cpath d='M1440 0L1187.97 0L1440 168.9z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1187.97 0L1440 168.9L1440 215.71L765.25 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M765.25 0L1440 215.71L1440 227.73000000000002L316.87 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M316.8699999999999 0L1440 227.73000000000002L1440 394.12L113.28999999999988 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L221.21 560L0 386.3z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 386.3L221.21 560L224.28 560L0 295.55z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 295.55L224.28 560L785.42 560L0 264.1z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 264.1L785.42 560L1060.71 560L0 188.86z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1638'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1639'%3e%3cstop stop-color='rgba(0%2c 60%2c 121%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    padding: 30px;
    border-radius: 30px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

/*precios-mapa*/

.fa-map-marker-alt,
.fa-dot-circle {
    color: #000000;
}

/*Jumbotron*/
.jumbotron {
    margin: 0;
    padding: 30px;
}

.jumbotron h1 {
    letter-spacing: 2.5px;
    font-size: 3.5em;
}

.jumbotron h1,
.jumbotron p {
    text-align: center;
}

/*map*/


.boton {
    display: flex;
    justify-content: center;

    button {
        background-color: #e4e4e449;
        width: 280px;
        height: auto;
        border-radius: 40px;
        font-family: 'Poiret One', 200;
    }
}

#googleMap {
    width: 100%;
    height: 400px;
    margin: 10px auto;
}

/*output box*/
#output {
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}

#mode {
    color: rgb(238, 238, 238);
}

/*SECCION COTIZADOR POR ZONAS*/

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 0px;
    grid-template-areas:
        ". . . .";
}

/*SECCION COTIZADOR POR ZONAS*/
.zonas {
    margin-top: 80px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 0px;
    grid-template-areas: ". . . .";
}

/*ZONAS*/

/*TARJETAS*/

.zonas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    flex-wrap: wrap;
    width: auto;
}

h3 {
    color: white;
}

.botones {
    display: flex;
    flex-direction: row;
    margin: 300px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 3s ease;
}

.botones button {
    margin: 10px;
}

.card {
    backdrop-filter: blur(8px);
    color: white;
    margin: 5px;
    border-radius: 25px;
    width: 250px;
    height: 390px;
    padding: 20px;
    position: relative;
    background-color: #0033667d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    background-color: #005fbe7d;
    background-position: center;
    background-repeat: no-repeat;
    height: 420px;
    transition: ease 1s;
}

.card:hover .botones {
    visibility: visible;
    opacity: 1;
}

.card:hover .botones button {
    transition: all 2s ease;
}

.card0 {
    background-image: url(../img/lomasdezamora.png);
}

.card1 {
    background-image: url(../img/zona1.png);
}

.card2 {
    background-image: url(../img/zona2.png);
}

.card3 {
    background-image: url(../img/zona3.png);
}

.divCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito {
    text-align: center;
    background-color: #003366;
    border-radius: 10px;
    color: white;
    width: 300px;
    height: 150px;

    .total {
        font-size: 30px;
    }
}