
/*inicio*/

/*main-index*/

/*hero-section*/

/*segundoHero*/



.segundoHero{
    text-align: center;
    h5{
        font-family: 'Anton', sans-serif;
        font-size: 60px;
    }
    p{
        font-size: 20px;
    }
}

.nuestrosServicios{
    margin-top: 0;
    padding: 80px;
    padding-right: 200px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;        
    align-items: center;        
    text-align: center;
}

/*main-flex*/

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;    
    img{
        border-radius: 20px;
        width: 80%;
    }
    }
    .div1 {
        margin-top: 100px;
        display: flex;
        flex-direction: column;   
        justify-content: center;        
        grid-area: 1 / 1 / 2 / 2;
    }
    .div2 {
        margin-top: 100px;
        display: flex;
        flex-direction: column;        
        align-items: center;        
        text-align: center;grid-area: 1 / 2 / 2 / 3;
    }
    .div3 { 
        display: flex;
        flex-direction: column;        
        align-items: center;        
        text-align: center;
        grid-area: 2 / 1 / 3 / 2;
    }
    .div4 {        
        margin-top: 0;
        display: flex;
        flex-direction: column;   
        justify-content: center;
        grid-area: 2 / 2 / 3 / 3;
    }
    

.parent2 {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: px;
grid-row-gap: px;
display: flex;
justify-content: space-around;
align-items: center;
align-content: center;
img{
    padding: 20px;
    width: 80%;
    border-radius: 30px;    
}
}

.div5 {
    margin-bottom: 50px; 
    align-items: center;        
    text-align: center;
    grid-area: 1 / 1 / 2 / 2;
}
.div6 {
    margin-bottom: 50px; 
    align-items: center;        
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
}
.div7 { 
    margin-bottom: 50px;
    align-items: center;        
    text-align: center;
    grid-area: 1 / 3 / 2 / 4; 
}  

/*precios-mapa*/

body {
    color: #5bc0de;
    font-family: "Poppins", sans-serif;
}

.fa-map-marker-alt,
.fa-dot-circle {
    color: #5bc0de;
}

/*Jumbotron*/
.jumbotron {
    background-color: transparent;
    margin: 0;
    padding: 10px;
}

.jumbotron h1 {
    letter-spacing: 2.5px;
    font-size: 3.5em;
}

.jumbotron h1,
.jumbotron p {
    text-align: center;
}

/*map*/
#googleMap {
    width: 80%;
    height: 400px;
    margin: 10px auto;
}

/*output box*/
#output {
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}

#mode {
    color: black;
}