/*responsive carrusel*/

@media (max-width: 700px) {

    .carousel-inner {
        border-radius: 25px;
        width: 350px;
    }
}

@media (max-width: 700px) {

    .segundoHero {

        h5 {
            font-family: 'Anton', sans-serif;
            font-size: 40px;
        }
    }

    .parent {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        height: auto;
        width: 300px;
        margin-left: 50px;
        margin-right: 50px;
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        height: auto;
        width: 300px;
        margin-left: 50px;
        margin-right: 50px;
        grid-area: 2 / 1 / 3 / 2;
    }

    .div3 {
        height: auto;
        width: 300px;
        margin-left: 50px;
        margin-right: 50px;
        grid-area: 4 / 1 / 5 / 2;
    }

    .div4 {
        height: auto;
        width: 300px;
        margin-left: 50px;
        margin-right: 50px;
        grid-area: 3 / 1 / 4 / 2;
    }

    .nuestrosServicios {
        padding: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .parent2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: center;
    }

    .div5 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div6 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div7 {
        grid-area: 3 / 1 / 4 / 2;
    }

}

//PRECIOS//

@media(max-width: 500px){
    .heroPrecios{
        h1{
            font-size: 10vw;
        }
    }
}

@media(max-width: 700px) {
    .tarjetaPrecios {  
        margin: 0px;      
        margin-bottom: 20px;
    }
}

//FOOTER//

@media(max-width: 700px) {
    footer {
        height: auto;

        .pie {
            flex-direction: column;

            nav {
                margin-top: 30px;
            }
        }
    }
}


/*reponsive header*/

@media (max-width: 992px) {

    .barraNavegacion .links,
    .barraNavegacion .action_btn {
        display: none;
    }

    .barraNavegacion .toggle_btn {
        margin: 5px;
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 400px) {
    .barraNavegacion .logo a {
        font-size: 1rem;

    }
}

//NOSOTROS//
@media (max-width: 500px){
    .heroNosotros{
        max-width: 300px;
        min-height: 250px;
        h1{
            font-size: 25px;
        }
    }
    .infoNosotros{
        .info{
            width: 400px;
            .contenidoInfo{
                margin: 10px;
                h4{
                    font-size: 20px;
                }
                p{
                    font-size: 10px;
                }
            }
            img{
                width: 280px;
            }            
        }
    .infoCliente{
        max-width: 280px;
        width: 360px;
        font-size: 10px;
    }
    }
}


//COTIZADORES//
@media(max-width:500px){
    .mainCotizador{
        h1{
            font-size: 9vw;
        }
    }
}